@charset "UTF-8";
.we-search {
  padding: 0 13px; }

.we-search .we-bar {
  border: 1px solid #b0b0b0; }

.home-content {
  background-color: #fff;
  overflow: hidden; }

.search-top {
  width: 100%;
  margin-top: 10px; }

.sub-select {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 10px;
  border-top: 0.5px solid #999; }
  .sub-select div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #323232;
    text-align: center;
    line-height: 42px;
    position: relative; }
    .sub-select div.active {
      color: #2C9195; }
      .sub-select div.active::before {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        bottom: 0;
        left: 15px;
        right: 15px;
        background-color: #2C9195; }
    .sub-select div.asc::after {
      content: '↾';
      font-size: 14px; }
    .sub-select div.des::after {
      content: '⇂';
      font-size: 14px; }

.add-handle {
  text-align: right;
  margin: 10px 0; }
  .add-handle button {
    width: 55px;
    height: 20px;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    background-color: #2C9195;
    color: #fff; }
    .add-handle button.added {
      background-color: #BDBDBD; }

.me-list .list-item:after {
  left: 0;
  right: 0; }
