.home-content {
  overflow: hidden;
  padding-top: 44px;
  margin-bottom: 50px; }

.sub-select {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 0.5px solid #bfbfbf;
  background-color: #fff; }
  .sub-select div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #323232;
    text-align: center;
    line-height: 42px;
    position: relative; }
    .sub-select div.active {
      color: #2C9195; }
      .sub-select div.active::before {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        bottom: 0;
        left: 15px;
        right: 15px;
        background-color: #2C9195; }

.me-list .list-item:after {
  left: 0;
  right: 0; }

.me-list .store {
  padding-left: 13px;
  color: #323232;
  background-color: #fff;
  line-height: 40px; }
  .me-list .store a {
    color: inherit; }
  .me-list .store .s-icon {
    width: 15px;
    margin-top: -3px; }
  .me-list .store .a-icon {
    width: 20px;
    margin-top: -2px; }

.me-list .list-item {
  background-color: #fff; }
  .me-list .list-item .l {
    width: 121px; }
    .me-list .list-item .l .img {
      width: 91px;
      height: 91px;
      margin: 14px; }
  .me-list .list-item .r {
    padding: 0 13px 0 0; }
    .me-list .list-item .r .count-price {
      text-align: right;
      font-size: 18px;
      color: #323232;
      line-height: 35px; }
      .me-list .list-item .r .count-price .text {
        font-size: 14px;
        color: #666; }
      .me-list .list-item .r .count-price .deco {
        font-size: 12px;
        color: #666; }

.me-list .handle {
  text-align: right;
  padding: 10px 13px;
  background-color: #fff;
  margin-bottom: 5px;
  border-top: 0.5px solid rgba(191, 191, 191, 0.4); }
  .me-list .handle button {
    width: 74px;
    height: 26px;
    border-radius: 13px;
    background-color: #fff; }
    .me-list .handle button.gray-btn {
      color: #666;
      border: 1px solid #666; }
    .me-list .handle button.active-btn {
      color: #2C9195;
      border: 1px solid #2C9195;
      margin-left: 15px; }
