body {
  background-color: #fff; }

.top-box {
  width: 100%;
  height: 158px;
  background-image: url(../../assets/images/store_bg.png);
  background-size: 100% 100%;
  position: relative; }
  .top-box .store-info {
    width: calc(100% - 36px);
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px #aaaaaa;
    box-shadow: 0 0 3px #aaaaaa;
    background-color: #fff;
    position: absolute;
    top: 143px;
    left: 18px; }
  .top-box .store-name {
    overflow: hidden;
    width: 100%; }
    .top-box .store-name .img {
      width: 50px;
      height: 50px;
      border-radius: 3px;
      border: 1px solid #bfbfbf;
      margin: 15px 0 0 13px; }
      .top-box .store-name .img img {
        width: 100%; }
    .top-box .store-name .name {
      font-size: 13px;
      color: #323232;
      margin: 15px 0 0 10px; }
  .top-box .about-money {
    width: 100%;
    height: 78px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .top-box .about-money div {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }
      .top-box .about-money div .red-number {
        font-size: 18px;
        color: #EC5151;
        margin: 17px 0 2px 0; }
      .top-box .about-money div .e-label {
        font-size: 10px;
        color: #323232; }

.goods-list {
  overflow: hidden;
  margin-top: 139px; }
  .goods-list .list-item {
    display: block;
    width: 50%;
    float: left;
    padding: 0 18px;
    margin-bottom: 10px; }
    .goods-list .list-item .img {
      width: 100%;
      padding-top: 100%;
      position: relative; }
      .goods-list .list-item .img .img-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid #bfbfbf; }
        .goods-list .list-item .img .img-container img {
          width: 100%; }
    .goods-list .list-item .name {
      font-size: 11px;
      color: #323232;
      line-height: 15px;
      height: 30px;
      margin-top: 8px;
      word-break: break-all;
      white-space: pre-wrap;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .goods-list .list-item .price {
      font-size: 14px;
      color: #323232;
      margin-top: 8px; }
      .goods-list .list-item .price .commission {
        font-size: 12px;
        color: #EC5151;
        font-weight: 800; }
