@import '../../assets/css/common.scss';
html,body{
    width: 100%;
    height: 100%;
}
.we-content{
    width: 100%;
    height: 100%; 
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-image: url(../../assets/images/ranking_bg.png);
    background-size: 100% 100%;
    .title-sub{
        display: flex;
        height: 45px;
        flex-direction: row;
        background-color: #fff;
        div{
            flex: 1;
            text-align: center;
            line-height: 45px;
            font-size: 16px;
            color: $fontColor;
            &.active{
                background-color: $themeColor;
                color: #fff;
            }
        }
    }
    .top-three{
        width: 100%;
        padding: 0 13px;
        margin-top: 15px;
        .th-content{
            width: 100%;
            height: 200px;
            background-image: url(../../assets/images/top-3-bg.png);
            background-size: 100% 100%;
            .header-img{
                position: relative;
                height: 115px;
                div{
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: absolute;
                    img{
                        width: 100%;
                    }
                    &.tp1{
                        top: 28px;
                        left: 9%;
                    }
                    &.tp2{
                        width: 62px;
                        height: 62px;
                        top: 17px;
                        left: 50%;
                        margin-left: -31px;
                    }
                    &.tp3{
                        top: 28px;
                        right: 9%;
                    }
                }
                img{
                    position: absolute;
                    &.tp1-deco{
                        width: 33px;
                        top: -10px;
                        left: 50%;
                        margin-left: -16px;
                    }
                    &.tp2-deco{
                        width: 22px;
                        top: 15px;
                        left: 8%;
                    }
                    &.tp3-deco{
                        width: 22px;
                        top: 15px;
                        right: 8%;
                    }
                }
            }
            .u-name{
                display: flex;
                flex-direction: row;
                div{
                    flex: 1;
                    text-align: center;
                    &:nth-child(2){
                        .money{
                            font-size: 18px;
                            color: $themeColor;
                            margin-top: 1px;                        
                        }  
                    }
                    .name{
                        padding: 0 10px;
                        color: $lightFontColor;
                        @include lineClamp(2);
                        height: 34px;
                    }
                    .money{
                        font-size: 15px;
                        color: $fontColor;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
    .rank-list{
        width: 100%;
        padding: 10px 13px;
        .rl-content{
            width: 100%;
            background-color: #fff;
            border-radius: 4px;
            .rl-item{
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 10px 0;
                position: relative;
                &::after{
                    content: '';
                    display: block;
                    height: 0.5px;
                    position: absolute;
                    left: 60px;
                    right: 13px;
                    bottom: 0;
                    background-color: $moreLightColor;
                }
                &:nth-last-child(1){
                    &::after{
                       display: none;
                    }
                }
                &:nth-child(1){
                    .name-money{
                        .money{
                            span{
                                font-size: 14px;
                                color: $themeColor;
                            }
                        }
                    } 
                }
                .number{
                    width: 70px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    padding: 0 5px;
                    color: $fontColor;
                    img{
                        width: 20px;
                    }
                }
                .h-img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .name-money{
                    flex: 1;
                    padding-left: 5px;
                    .name{
                        font-size: 13px;
                        color: $fontColor;
                    }
                    .money{
                        color: $lightFontColor;
                        span{
                            color: #7B9CBD;
                        }
                    }
                }
            }
        }
    }
}