@import '../../assets/css/const.scss';

body{
    background-color: #fff;
}
.we-content{
    padding: 0 13px;
    margin-top: 44px;
    .title{
        font-size: 15px;
        color: #000;
        line-height: 30px;
    }
    .name{
        color: $lightFontColor;
        font-size: 10px;
        line-height: 32px;
        border-bottom: 0.5px solid $borderColor;
    }
    .text{
        color: $fontColor;
        margin-top: 10px;
        line-height: 19px;
    }
}