.home-content {
  background-color: #fff;
  margin-bottom: 50px; }

.home-top {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .home-top .home-search {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .home-top .home-message {
    width: 55px;
    position: relative; }
    .home-top .home-message a {
      display: block;
      padding: 7px 0 10px 0px; }
    .home-top .home-message img {
      width: 24px; }
    .home-top .home-message .number {
      position: absolute;
      font-size: 10px;
      background-color: #EC5151;
      color: #fff;
      top: -4px;
      left: 18px;
      line-height: 18px;
      text-align: center;
      min-width: 18px;
      border-radius: 9px;
      padding: 0 2px; }

.swiper-container {
  width: 100%;
  -webkit-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px; }

.swiper-slide {
  width: calc(100% - 40px);
  height: 155px;
  line-height: 155px;
  text-align: center;
  background-color: #f5b55c;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-slide-active {
  width: calc(100% - 60px);
  margin: 0 10px; }
