.home-content {
  background-color: #fff;
  overflow: hidden;
  padding-top: 44px;
  margin-bottom: 50px; }

.user {
  height: 124px;
  background-color: #2C9195;
  position: relative;
  overflow: hidden; }
  .user .date-show {
    position: absolute;
    top: 10px;
    left: 13px;
    color: #fff;
    z-index: 99; }
    .user .date-show .year {
      font-size: 10px; }
    .user .date-show .month {
      font-size: 20px; }
      .user .date-show .month .tri {
        font-size: 12px; }
      .user .date-show .month .deco {
        font-size: 12px;
        padding: 0 10px 0 4px; }
  .user .monthSelect {
    width: 72px;
    height: 45px;
    position: absolute;
    z-index: 102;
    top: 10px;
    left: 13px;
    opacity: 0; }
  .user .u-title {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 20px 0 6px 0; }
  .user .money {
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: 800; }

.cd-list {
  background-color: #f2f2f2;
  padding: 0 13px;
  overflow: hidden; }
  .cd-list .list-item {
    padding: 10px 13px;
    margin-top: 5px;
    border: 0.5px solid #bfbfbf;
    border-radius: 4px;
    background-color: #fff; }
    .cd-list .list-item:nth-last-child(1) {
      margin-bottom: 0; }
    .cd-list .list-item .info {
      line-height: 24px;
      color: #999;
      overflow: hidden; }
      .cd-list .list-item .info .we-pull-right {
        color: #323232; }
        .cd-list .list-item .info .we-pull-right.bonusing {
          color: #2C9195; }
        .cd-list .list-item .info .we-pull-right.bonused {
          color: #666; }
