body {
  background-color: #fff; }

.home-content {
  overflow: hidden;
  padding-top: 44px; }

.top-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .top-title .l {
    width: 80px; }
    .top-title .l .img {
      width: 62px;
      height: 62px;
      border: 1px solid #bfbfbf;
      margin: 9px 0 0 17px; }
      .top-title .l .img img {
        width: 100%; }
  .top-title .r {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 9px 13px 0 13px;
    font-size: 13px; }
    .top-title .r p {
      line-height: 20px; }
    .top-title .r .font-color {
      color: #323232; }
    .top-title .r .more-light {
      color: #999; }
    .top-title .r .green {
      color: #24A567; }
    .top-title .r #ship-number {
      color: #999;
      font-size: 13px;
      border: none;
      width: 120px; }
    .top-title .r a {
      color: #7BC0FF; }
    .top-title .r button {
      width: 40px;
      height: 22px;
      font-size: 12px;
      color: #323232;
      border: 1px solid #bfbfbf;
      border-radius: 3px;
      background-color: #fff;
      padding: 0; }
      .top-title .r button:active {
        background-color: #24A567; }

.info {
  width: 100%;
  margin-top: 10px;
  border-top: 5px solid rgba(153, 153, 153, 0.1);
  padding-top: 20px; }
  .info .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .info .item .deco {
      width: 60px;
      overflow: hidden;
      position: relative; }
      .info .item .deco .circle {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: rgba(153, 153, 153, 0.2);
        margin: 5px 0 0 25px; }
      .info .item .deco .line {
        width: 1px;
        background-color: rgba(153, 153, 153, 0.2);
        position: absolute;
        top: 15px;
        bottom: 0;
        left: 29.5px; }
    .info .item .text {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 0px 13px 20px 0;
      color: #999; }
      .info .item .text .site {
        font-size: 13px;
        line-height: 21px; }
        .info .item .text .site a {
          color: inherit; }
    .info .item:nth-child(1) .deco .circle {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: rgba(36, 165, 103, 0.4);
      margin: 40% 0 0 22px;
      overflow: hidden; }
      .info .item:nth-child(1) .deco .circle::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #24A567;
        border-radius: 5px;
        margin: 3px; }
    .info .item:nth-child(1) .deco .line {
      background-color: #24A567;
      top: 36px; }
    .info .item:nth-child(1) .text {
      color: #24A567; }
    .info .item:nth-last-child(1) .deco .line {
      display: none; }
