.home-content {
  overflow: hidden;
  margin: 44px 0 60px 0; }
  .home-content .address-list {
    padding: 0 13px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 5px; }
    .home-content .address-list .name-tel {
      font-size: 16px;
      color: #323232;
      overflow: hidden;
      line-height: 34px; }
    .home-content .address-list .site {
      color: #323232;
      line-height: 36px;
      border-bottom: 0.5px solid #bfbfbf; }
    .home-content .address-list .handle {
      line-height: 40px; }
      .home-content .address-list .handle .set-default {
        display: inline-block;
        vertical-align: top;
        width: 30px;
        height: 40px;
        margin-left: -10px; }
        .home-content .address-list .handle .set-default.active::after {
          background-image: url(../../assets/images/choiced.png); }
        .home-content .address-list .handle .set-default::after {
          display: block;
          content: '';
          width: 18px;
          height: 18px;
          background-image: url(../../assets/images/not_choice.png);
          background-size: 18px 18px;
          margin: 10px 0 0 6px; }
      .home-content .address-list .handle .edit {
        display: inline-block;
        width: 30px;
        height: 40px; }
        .home-content .address-list .handle .edit img {
          width: 20px;
          margin: -3px 0 0 6px; }
      .home-content .address-list .handle .dele {
        display: inline-block;
        width: 30px;
        height: 40px; }
        .home-content .address-list .handle .dele img {
          width: 20px;
          margin: -3px 0 0 6px; }
  .home-content .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    padding: 10px 13px;
    background-color: #fff; }
    .home-content .footer .commit {
      width: 100%;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      border-radius: 25px; }
