@import '../../assets/css/const.scss';

body{
    background-color: #fff;
}
.home-content{    
    overflow: hidden;
    padding-top: 44px;
   
    .b-content{
        .goods-item{
            display: flex;
            flex-direction: row;
            border-bottom: 5px solid $backgroundColor;
        }
        .l{
            width: 121px;
            .img{
                width: 91px;
                height: 91px;
                margin: 14px;
                border: 1px solid $borderColor;
                border-radius: 4px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
        .r{
            padding: 0 13px 0 0;
            .name{
                margin-top: 20px;
            }
            .info{
                margin-top: 0;
            }
            .price{
                margin-top: 6px;
                color: $themeColor;
                .contact-store{
                    padding: 5px 10px;
                    float: right;
                    font-size: 13px;
                    color: $fontColor;
                    border: 1px solid #d2d2d2;
                    border-radius: 15px;
                }
            }
            
        }
      
        .title{
            font-size: 13px;
            color: $lightFontColor;
        }
        .explain{
            span{
                color: $themeColor;
            }
            color: $moreLightColor;
            border-bottom: 0.5px solid $borderColor;
            padding: 5px 13px;
        }
        .input-list{
            width: 100%;
            height: 55px;
            padding: 0 13px;
            display: flex;
            flex-direction: row;
            border-bottom: 0.5px solid $borderColor;
            position: relative;
            .down-arrow{
                width: 22px;
                height: 22px;
                position: absolute;
                top: 17px;
                right: 9px;
                background-image: url(../../assets/images/right_arrow.png);
                background-size: 22px 22px;
                transform: rotate(90deg);
            }
            &.tel{
                border-top: 0.5px solid $borderColor;
                border-bottom: none;
            }
            &.textarea{
                height: auto;
                .r{                   
                    textarea{
                        border: none;
                        width: 100%;
                        height: 60px;
                        padding: 18px 0 0 5px;
                        color: #666;
                        &::-webkit-input-placeholder{
                            color: #999;
                        }
                    }
                }
            }
            .l{
                width: 60px;
                line-height: 55px;
            }
            .r{
                flex: 1;
                line-height: 55px;
                font-size: 15px;
                color: $fontColor;
                padding: 0;
                input{
                    font-size: 15px;
                    border: none;
                    margin-top: -4px;
                    vertical-align: middle;
                    width: 100%;
                    text-align: right;
                }
               select{
                    width: calc(100% - 14px);
                    background-color: transparent;
                    padding: 10px 0 13px 10px;
                    border: none;
                    font-size: 15px;
                    color: $fontColor;
                }     
                .text-length{
                    font-size: 12px;
                    color: $lightFontColor;
                    float: right;
                }  
                .we-pull-right{
                    font-size: 14px;
                    color: $moreLightColor;
                    margin-top: 7px;
                    img{
                        width: 22px;
                        margin: -3px -5px 0 0;
                    }
                    .handle{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 18px;
                        text-align: center;
                        color: $lightFontColor;
                        display: inline-block;
                        vertical-align: top;
                        margin-top: 5px;
                        background-color: #dedede;
                        &.disable{
                            background-color: rgba($color: #dedede, $alpha: 0.5);
                        }
                    }
                    input{
                        height: 30px;
                        width: 50px;
                        text-align: center;
                        background-color: #dedede;
                        border: none;
                        margin-top: 5px;
                        vertical-align: top;
                    }
                }       
            }
        }
        .type-select{
            overflow: hidden;
            padding: 0 13px;
            border-bottom: 0.5px solid $borderColor;
            div{
                min-width: 60px;
                height: 24px;
                line-height: 24px;
                border-radius: 3px;
                padding: 0 12px;
                text-align: center;
                float: left;
                margin: 0 10px 10px 0;
                color: $fontColor;
                border: 1px solid $borderColor;
                &.selected{
                    border-color: $themeColor;
                    color: $themeColor;
                }
            }
        }
        .ship-select{
            padding: 0 13px;
            div{
                width: 84px;
                height: 34px;
                line-height: 34px;
                .icon{
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    background-image: url(../../assets/images/not_choice.png);
                    background-size: 22px auto;
                    vertical-align: middle;
                    margin-top: -3px;
                }
                &.selected{
                    .icon{
                        background-image: url(../../assets/images/choiced.png);
                    }
                }
            }
        }
    }
    .commit{
        width: calc(100% - 26px);
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-radius: 25px;
        margin: 20px auto;
    }
    .reason{
        textarea{
            border: none;
            width: 100%;
            height: 138px;
            padding: 10px 13px;
            color: #666;
            font-size: 15px;
            color: $fontColor;
            &::-webkit-input-placeholder{
                color: #999;
            }
        }
    }
    .upload{
        padding: 0 13px;
        border-top: 10px solid rgba($borderColor, 0.2);
        border-bottom: 0.5px solid $borderColor;
        p{
            font-size: 15px;
            color: $fontColor;
            line-height: 50px;
            span{
                color: $moreLightColor;
            }            
        }
        .img{
            width: 94px;
            height: 94px;
            margin: 0 10px 10px 0;
            img{
                width: 100%;
            }
        }
    }
}


