@import '../../assets/css/const.scss';

.home-content{
    overflow: hidden;
    padding-top: 44px;
}

.top-title{
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    color: $lightFontColor;
    font-size: 14px;
    .sub-title{
        display: inline-block;
        vertical-align: top;
        width: 100px;
        text-align: right;
        img{
            width: 14px;
            float: left;
            margin: 3px 0 0 2px;
        }
    }
    P{
        margin-bottom: 8px;
        padding:0 13px;
    }
    .address{
        padding: 0 13px;
        width: 100%;
        overflow: hidden;
        padding-bottom: 5px;
        .site{
            width: calc(100% - 101px);
            float: right;
            @include lineClamp(2);
            height: 40px;            
        }
    }
    .deco{
        width: 100%;
        height: 8px;
        background-image: url(../../assets/images/add_deco.png);
        background-size: auto 8px;
    }
}

.me-list{
    margin: 5px 0 50px 0;
    background-color: #fff;
    border-bottom: 1px solid $borderColor;
    .store{
        padding-left: 13px;
        color: $fontColor;
        background-color: #fff;
        line-height: 40px;
        a{
            color: inherit;
        }
        img{
            
        }
        .s-icon{
            width: 15px;
            margin-top: -3px;
        }
        .a-icon{
            width: 20px;
            margin-top: -2px;
        }
    }
    .list-item{
        background-color: #fff;
        .l{
            .img{
                width: 91px;
                height: 91px;
                margin: 15px;
            }
        }
        .r{
            padding-left: 0;
            .name{
                margin-top: 20px;
            }
            .info{
                margin-top: 0;
                padding: 0;
            }
            .price{
                margin-top: 6px;
            }
            .count-price{
                text-align: right;
                font-size: 18px;
                color: $fontColor;
                line-height: 35px;
                .text{
                    font-size: 14px;
                    color: $lightFontColor;
                }                
                .deco{
                    font-size: 12px;
                    color: $lightFontColor;
                }
            }
            .price{
                color: $themeColor;
                span{
                    color: $moreLightColor;
                }
            }
        }
    }
    .info{
        overflow: hidden;
        padding: 2px 13px;
        font-size: 10px;
        color: $lightFontColor;
    }
    .total-info{
        overflow: hidden;
        padding: 8px 13px;
        font-size: 16px;
        color: $fontColor;
    }
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    text-align: right;
    line-height: 50px;
    button{
        width: 74px;
        height: 26px;
        margin-right: 12px;
        border-radius: 13px;
        &.default-btn{
            background-color: #fff;
            border: 1px solid $borderColor;
            color: $fontColor;
        }
        &.active-btn{
            background-color: $themeColor;
            border: none;
            color: #fff;
        }
    }

}