@import '../../assets/css/const.scss';
body{
    background-color: $backgroundColor;
}
.home-content{    
    overflow: hidden;
    padding-top: 44px;
    margin-bottom: 50px;
    .top{        
        width: 100%;
        height: 65px;
        background-color: #fff;
        .t-item{
            width: 106px;
            height: 65px;
            float: left;
            position: relative;
            overflow: hidden;
            .date-show{
                position: absolute;
                top: 10px;
                left: 13px;
                color: $fontColor;
                z-index: 99;
                .year{
                    font-size: 10px;
                }
                .month{
                    font-size: 20px;
                    .tri{
                        font-size: 12px;
                    }
                    .deco{
                        font-size: 12px;
                        padding: 0 10px 0 4px;
                    }
                }
            }
            .monthSelect{
                width: 72px;
                height: 45px;
                position: absolute;
                z-index: 102;
                top: 10px;
                left: 13px;
                opacity: 0;
            }
        }
        .sub-item{
            width: calc(100% - 106px);
            height: 65px;
            float: left;
            display: flex;
            flex-direction: row;
            .item{
                flex: 1;
                text-align: center;
                line-height: 78px;
                span{
                    border: 1px solid $themeColor;
                    border-radius: 14px;
                    padding: 3px 24px;
                    color: $themeColor;
                    &.active{
                        background-color: $themeColor;
                        color: #fff;
                    }
                }
                
            }
        }
    }
}
.b-content{
    padding: 10px 13px;
    margin-top: 6px;
    background-color: #fff;
    .b-item{
        overflow: hidden;
        margin-bottom: 10px;
        border-bottom: 0.5px solid $borderColor;
        padding-bottom: 8px;
        .title{
            font-size: 15px;
            color: $fontColor;            
        }  
        .text{
            font-size: 10px;
            color: $moreLightColor;            
        }
        .we-pull-right{
            text-align: right;
        }
    }
}

