@charset "UTF-8";
.home-content {
  background-color: #fff;
  overflow: hidden; }

.search-top {
  width: 100%;
  margin-top: 10px; }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 84px;
  background-color: #EC5151; }
  .user .header-img {
    width: 81px; }
    .user .header-img .img {
      width: 61px;
      height: 61px;
      border: 1px solid #fff;
      border-radius: 50%;
      overflow: hidden;
      margin: 12px 0 0 20px; }
      .user .header-img .img img {
        width: 100%;
        vertical-align: middle; }
  .user .name-money {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fff;
    padding: 10px 0 0 10px;
    position: relative; }
    .user .name-money .name {
      font-size: 15px;
      margin-top: 12px; }
    .user .name-money .money {
      margin-top: 4px; }
    .user .name-money .date-show {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff;
      z-index: 99; }
      .user .name-money .date-show .year {
        font-size: 10px; }
      .user .name-money .date-show .month {
        font-size: 20px; }
        .user .name-money .date-show .month .tri {
          font-size: 12px; }
        .user .name-money .date-show .month .deco {
          font-size: 12px;
          padding: 0 10px 0 4px; }
    .user .name-money .monthSelect {
      width: 72px;
      height: 45px;
      position: absolute;
      z-index: 102;
      bottom: 0;
      right: 0;
      opacity: 0; }

.sub-select {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 0.5px solid #999; }
  .sub-select div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #323232;
    text-align: center;
    line-height: 42px;
    position: relative; }
    .sub-select div.active {
      color: #EC5151; }
      .sub-select div.active::before {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 44px;
        bottom: 0;
        left: 50%;
        margin-left: -26px;
        background-color: #EC5151; }
    .sub-select div.asc::after {
      content: '↾';
      font-size: 14px; }
    .sub-select div.des::after {
      content: '⇂';
      font-size: 14px; }

.add-handle {
  text-align: right;
  margin: 10px 0; }
  .add-handle button {
    width: 55px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #EC5151;
    color: #fff; }
    .add-handle button.added {
      background-color: #BDBDBD; }

.cd-list {
  background-color: #f2f2f2; }
  .cd-list .list-item {
    padding: 10px 13px;
    margin-bottom: 5px;
    border-bottom: 0.5px solid #bfbfbf;
    background-color: #fff; }
    .cd-list .list-item:nth-last-child(1) {
      margin-bottom: 0;
      border: none; }
    .cd-list .list-item .money {
      font-size: 18px;
      font-weight: 800;
      color: #323232;
      text-align: center; }
    .cd-list .list-item .info {
      line-height: 24px;
      color: #666;
      overflow: hidden; }
      .cd-list .list-item .info .we-pull-right {
        color: #999; }
