body {
  background-color: #fff; }

.home-content {
  overflow: hidden;
  padding-top: 44px;
  margin-bottom: 50px; }

.user {
  height: 133px;
  background-image: url(../../assets/images/wallet_bg.png);
  background-size: 100% 100%;
  position: relative;
  overflow: hidden; }
  .user .u-title {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 20px 0 6px 0; }
  .user .money {
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: 800; }

.cd-list {
  padding: 0 13px;
  overflow: hidden; }
  .cd-list .list-item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    border-bottom: 0.5px solid #bfbfbf;
    font-size: 15px;
    color: #323232; }
    .cd-list .list-item img {
      width: 23px;
      margin: -3px 10px 0 0; }
