@import '../../assets/css/const.scss';
body{
    background-color: #fff;
}
.home-content{
    overflow: hidden;
    padding-top: 44px;
}


.comment-text{
    width: 100%;
    height: 120px;
    margin-top: 10px;
    textarea{
        width: 100%;
        height: 100%;
        padding: 0 13px;
        color: $lightFontColor;
        border: none;
        font-size: 14px;
        &::-webkit-input-placeholder{
            color: $moreLightColor;
        }
    }
}
.comment-img{
    overflow: hidden;
    padding: 0 13px;
    .img{
        width: 80px;
        height: 80px;
        margin: 0 10px 10px 0;
        img{
            width: 100%;
        }
    }
}
.goods-simple-info{
    padding: 0 13px;
    width: 100%;
    height: 64px;
    margin: 10px 0;
    .container{
        width: 100%;
        height: 100%;
        background-color: $backgroundColor;
        border-radius: 8px;
        .img{
            width: 50px;
            height: 50px;
            border-radius: 8px;
            margin: 7px 6px 0 10px;
            float: left;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .info{
            float: left;
            width: calc(100% - 76px);
            .name{
                color: $lightFontColor;
                margin-top: 6px;
            }
            .price{
                color: $redColor;
            }
        }
    }
}
.commit{
    padding: 0 13px;
    margin-top: 20px;
    button{
        width: 100%;
        height: 44px;
        border-radius: 22px;
        background-color: $themeColor;
        color: #fff;
        font-size: 17px;
        border: none;
    }
}