@import '../../assets/css/common.scss';

.home-content{
    background-color: #fff;
    margin-bottom: 50px;
}
.home-top{
    padding: 4px 0;
    display: flex;
    flex-direction: row;
    .home-search{
        flex: 1;
    }
    .home-message{
        width: 50px;
        a{
            display: block;
            padding: 7px 0 10px 10px;
        }
        img{
            width: 24px;
        }
    }
}
.swiper-container{
	width:100%;	
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}
.swiper-wrapper{
		margin-top:10px;
}
.swiper-slide{
    width:90%;
    height: 155px;
    line-height: 155px;
    text-align: center;
    background-color: #f5b55c;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.swiper-slide-active{
    width: calc(90% - 20px);
    margin: 0 10px;
}




