@import '../../assets/css/const.scss';

.home-content{
    overflow: hidden;
    padding-top: 44px;
    margin-bottom: 50px;
}

.sub-select{
    height: 42px;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid $borderColor;
    background-color: #fff;
    div{
        flex: 1;
        color: $fontColor;
        text-align: center;
        line-height: 42px;
        position: relative;
        border-right: 0.5px solid $borderColor;
        font-size: 14px;
        &:nth-last-child(1){
            border: none;
        }
        &.active{
            color: $themeColor;
        }
    }
}

.me-list .list-item:after{
    left: 0;
    right: 0;
}

.me-list{
    .list-item{
        background-color: #fff;
        display: block;
        .goods-item{
            display: flex;
            flex-direction: row;
        }
        .l{
            width: 121px;
            .img{
                width: 91px;
                height: 91px;
                margin: 14px;
            }
        }
        .r{
            padding: 0 13px 0 0;
            position: relative;
            .name{
                margin-top: 20px;
            }
            .info{
                margin-top: 2px;
            }
            .comment{
                position: absolute;
                right: 13px;
                bottom: 10px;
                width: 74px;
                height: 26px;
                border-radius: 13px;
                background-color: #fff;
                color: $themeColor;
                border: 0.5px solid $themeColor;
                margin-left: 15px;
                &.active{
                    background-color: $themeColor;
                    color: #fff;
                }
            }
            
        }

 
    }
}